* {

    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.o-header
{
    display: block;
    position: relative;
    padding: 40px 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    height: 44.08px;
}
div
{
    display: block;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

img{
    max-width: 100%;
    border-style: none;
}
.router-link-active {
    color: #08c175;
}
a {
    color: #08c175;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    font-family: Poppins,sans-serif;
}